/* a{
    color:black;
    text-decoration: none;
}

.titulo1{
    color:red;
    text-decoration: none;
}

#regata{
    color:aqua;
    text-decoration: none;
}

body{
    background-color: #736562;
    margin: 0;
}
