h1,h2,h3,h4,h5,h6{
    font-size: 1em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
    font-weight: normal;
    unicode-bidi: normal;
}
body{
    margin: 0px;
}
header{
    unicode-bidi: normal;
}
nav{
    unicode-bidi: normal;
}
ul{
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
    padding-inline-start: 0em;
    unicode-bidi: normal;
}
footer{
    unicode-bidi: normal;
}
a{
    text-decoration: none;
}